/* Remove ugly arrow Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove ugly arrow Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App {  
  text-align: center;
}

.inputResult button {
  display: none;
}

.inputResult input {
  text-align: center;
}

.App.gameStopped .displayContainer, 
.App.gameStopped .inputResult, 
.App.gameStopped .hourglass,
.App.gameStarted .startButton
{
  display: none;
}

.App.gameStarted .displayContainer, 
.App.gameStarted .inputResult, 
.App.gameStarted .hourglass,
.App.gameStopped .startButton
{
  display: block;
}


