/* Remove ugly arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove ugly arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html {
  height: 100%;
  min-width: fit-content;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/wood.jpg") repeat center;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: fit-content;
}

.App {  
  padding: 60px 00 60px 00;
  margin: 00 auto;
  width: 555px;
}

button {
  outline: none;
  border: none;
}

.boardContainer {
  background: url("./images/board.png") no-repeat center top;
  background-size: contain;
  width: 555px;
  margin: 00 auto;
}

.subGameStarted .boardContainer {
  cursor: none;
}

.inputResult button {
  display: none;
}

.inputResult input {
  text-align: center;
}

.buttonAndDisplay {
  position: relative;
  padding: 17px 00 00 00;
}

.startButton {
  width: 95px;
  height: 95px;
  position: absolute;
  left: 30px;
  top: 104px;
}

.startButton button {
  border: none;
  display: block;
  background: url("./images/start.png") no-repeat;
  cursor: pointer;
  width: 95px;
  height: 95px;
}

.startButton button:disabled {
  cursor: default;
}

.startEnabled button {
  background-position: top left;
}

.startDisabled button {
  background-position: top right;
}

.displayContainer {
   background: url("./images/display.png") no-repeat;
   background-size: contain;
   margin: 00px auto 00 auto;
   width: 264px;
   height: 232px;
   display: block;
}

.display {
  text-align: center;
  color: #cd9133;
  font-family: 'Allerta Stencil', sans-serif;
  padding: 52px 00 00 00;
  vertical-align: middle;
  position: relative;
}
.display h2 {
  padding: 00;
  margin: 00;
  font-size: 40px;
  line-height: normal;
  height: 35px;
}
.display h3 {
  padding: 00;
  margin: 00;
  font-size: 30px;
  line-height: normal;
  color: #875d8d;
  height: 27px;
}

.display.displayStopped h2,
.display.displayStopped h3 {
  display: none;
}

.factContainer {
  display: none;
  position: absolute;
  font-size: 13px;
  font-family: monospace;
}

.factCenteredBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 118px;
  padding: 00 26px;
  line-height: 11px;
}

.display.displayStopped .factContainer{
  display: block;
}
.failLight {
  background: url("./images/fail.png") no-repeat right top;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 107px;
}
.failLight.on {
  background-position: left top;
}

.inputResult {
  display: block;
}
.inputResult input{
  display: block;
  margin: 00 auto;
  background: url("./images/input.png") no-repeat center;
  background-size: cover;
  border: none;
  outline: none;
  padding: 00;
  width:  190px;
  height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.lightsContainer {
  position: absolute;
  overflow: hidden;
  top: 44px;
  right: 110px;
}

.lightsContainer div{
  width: 20px;
  height: 20px;
  background: url("./images/light.png") no-repeat;
  background-size: cover;
  background-position: top right;
  margin:00 00 10px 00;
}

.lightsContainer div.on {
  background-position: top left;
}

.hourglass {
  padding: 48px 00 00 00;
}

.hourglass .progress {
  background: url("./images/barWood.png") no-repeat;
  background-size: contain;
  width: 214px;
  height:  5px;
  padding: 35px 42px 68px 60px;
  box-sizing: content-box;
  margin: 00 auto;
}
.hourglass .progress div {
  background: #8f4333;
  border-radius: 10px;
  background-color: #8f4333; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #8f4333 , #ff0000);
}

.inputName {
  position: relative;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
}
.inputName .inputNameAbs {
  display: block;
  position: absolute;
  background: #562b63;
  opacity: 1;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -250px;
  border-radius: 10px;
  filter: drop-shadow(0px 100px 6px rgba(0, 0, 0, 0.50));
}
.inputName form {
  display: block;
}
.inputName input {
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 5px;
  border-width: 2px;
  border-color: #bbb;
  font-size: 15px;
}
.inputName input::placeholder {
  color: #c68787;
  opacity: 0.9;
  font-size: 12px;
}
.inputName.noName input {
  background: #c68787;
  outline: none;
  color: #fff;
}
.inputName.noName input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
}
.inputName button {
  display: none;
}
.inputName .totalScore {
  color: #efff65;
  font-weight: bold;
  font-size: 30px;
  padding: 00 00 10px 00;
}

.scoreTable {
  width: 331px;
  margin: 00 auto 20px;
  filter: drop-shadow(0px 20px 2px rgba(0, 0, 0, 0.71));
  font-weight: bold;
  margin-top: -5px;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
}
.scoreTable table {
  border: none;
  margin: 0;
  padding: 0;
}
.scoreTable td {
  color: #e6dc88;
  border: none;
  filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.9));
  padding: 8px 00 8px 00;
}
.scoreTable td.scoreTableScore {
  text-align: right;
  color: #bb97c4;
}
.scoreTable .scoreTableRepeat {
  background: url("./images/scoreRepeat.png") center top repeat-y;
  padding: 40px 40px 00 40px;
}
.scoreTable .scoreBottom {
  background: url("./images/scoreBottom.png") center top no-repeat;
  height: 48px;
}

.resetButtonBox {
  margin:  0 auto;
  width: 331px
}

button.resetButton {
  display: inline-block;
  opacity: 0.7;
  font-size: 13px;
  border-radius: 3px;
  background:  none;
  font-weight: bold;
  padding: 4px;
  margin-left: 35px;
  color: #fff;
  cursor: pointer;
}
button.resetButton:hover {
  opacity: 1;
}