/* Remove ugly arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove ugly arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App {  
  text-align: center;
}

.inputResult button {
  display: none;
}

.inputResult input {
  text-align: center;
}

.App.gameFinished .displayContainer, 
.App.gameFinished .inputResult, 
.App.gameFinished .hourglass,
.App.gameInitialized .scoreTable,
.App.gameInitialized .startButton
{
  display: none;
}

.App.gameInitialized .displayContainer, 
.App.gameInitialized .inputResult, 
.App.gameInitialized .hourglass,
.App.gameFinished .scoreTable,
.App.gameFinished .startButton
{
  display: block;
}


